.lyricContainer {
    display: flex;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: auto;
    height: 85vh;
    width: 70%;
    justify-content: center;
    align-items: center;
    animation: slide-up ease .4s;
}

.lyric {
    width: 50vh;
    height: inherit;
    text-align: center;
}

.lyric span:last-of-type {
    padding-bottom: 2em;
}

.typeInfo {
    position: absolute;
    display: flex;
    align-self: flex-start;
    margin-right: 42%;
    margin-top: 1%;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}