.lyricsSection {
    display: flex;
    width: 60%;
    height: 90vh;
    background-color: #4c4345;
    color: #f8f4f3;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 10px -5px rgba(0,0,0,.30);
    border-radius: .5%;
    overflow: scroll;
    animation: slide-up ease .4s;
}


@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}