.container {
    display: flex;
    justify-content: center;
    animation: appear ease .4s;
}


.messageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}